{% extends 'basic.html' %}
{% block content %}
{% if check %}
    <li><a href="#">{{phone}}</a></li>
{% endif %}
{% endblock content%}
{% block phone_numbers %}{{phone}}{% endblock phone_numbers %}
{% block phone_numberss %}{{phone}}{% endblock phone_numberss %}
{% block findnumber %}{{phone}}{% endblock findnumber %}
{% block request %}{{phone}}{% endblock request %}
{% block friends %}{{phone}}{% endblock friends %}
{% block profile %}{{phone}}{% endblock profile %}
{% block home %}{{phone}}{% endblock home %}
{% block body %}
<div class="cntnr">
    <div class="cnt">
        {% for data in data %}
            {% load static %}
            <img src="{% static 'images/person.jpg' %}" width="100" height="100">
            <div>
                <h4>{{data.0}} {{data.1}} ({{data.2}})</h4>
                <a href="/accept/{{phone}}/{{data.2}}"><button name="sent_request" class="btn">Accept Request</button></a>
                <a href="/cancels/{{phone}}/{{data.2}}"><button name="cancel_request" class="btn">Cancel Request</button></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}